.container-postar {
    max-width: 1100px;
    margin: 40px auto;
    background: #e0e0e0;
    padding: 40px;
    border-radius: 23px;
    box-shadow: 5px 5px 0px #d7d7d7, -5px -5px 0px #e9e9e9;
}

.grid-fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.foto-card {
    background: #c4c4c4;
    border-radius: 12px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.foto-card.grande {
    height: 220px;
}

.foto-card.pequena {
    height: 180px;
}

.file-input {
    display: none;
}

.grupo {
    margin-top: 30px;
    text-align: center;
}

.btn-option {
    margin: 5px;
    padding: 8px 22px;
    background: #d9d9d9;
    border: none;
    border-radius: 8px;
    font-family: "Staatliches", sans-serif;
    cursor: pointer;
}

.btn-option.ativo {
    background: #b77a33;
    color: white;
}

.input, .textarea {
    background: #e5e5e5;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 12px;
    margin: 10px 0;
}

.btn-salvar {
    background: #C68747;
    color: white;
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 20px;
    display: block;
    margin: 30px auto 0;
    font-family: "Staatliches";
    cursor: pointer;
}

.photo-card {
    background: #c4c4c4;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.photo-card.large {
    height: 220px;
}

.photo-card.small {
    height: 180px;
}

.photo-card input {
    display: none;
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.photo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #aaa;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.photo-card.large {
    height: 250px;
}

.photo-card.small {
    height: 160px;
}

.photo-card input {
    display: none;
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

